@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap");

body {
  font-family: "Roboto Mono", monospace;
}

@keyframes slideDown {
  from {
    transform: translateY(-100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.nav-transition {
  animation: slideDown 0.9s ease-out;
}

.cursor {
  @apply fixed w-5 h-5 bg-white rounded-full pointer-events-none;
  transition: width 0.5s, height 0.5s, transform 0.5s, opacity 0.5s;
  transform: translate(-50%, -50%);
}

.cursor.hovered {
  @apply w-20 h-20 opacity-50;
}
